<h1>Justin's Matrix Calculator</h1>

<div id="create_matrix" class="collapse accordion-body" style="height:auto;">
	<div class="accordion-inner">
		Enter a Matrix and Submit.
		<form action="/create_matrix" method="post">
		  <input name="matrix_operand" type="textarea" placeholder="1, 2, 3">
		  </input>
		  <input type="submit" class="btn"/>
		</form>
	</div>
</div>